body{
    background-color:#FDFAF8;
}

/* making the image fit in proper without cutting anything*/
body
{
	padding-top: 50px;
}
a{
  color:black;
    font-weight:bold;
    margin-left:5px;
    margin-right:5px;
    text-decoration: none !important;
     font-weight:normal;
   
}

a:hover{
    color:white;
  
 
}

h4{
    
  color:grey;  
}


p{
color: rgb(85, 85, 85);

}



/*footer*/
.footer{
background-color:#7838cd;


}

.footer h2{
margin-bottom:40px;
}

.footer li,p, h2{
color:white;
}

.footer li{
list-style:none;
margin-top:10px;
}

/* not working*/
.control-label-email {
color:#fffff;
}
/* Giving the footer margin-top to space it out*/

/* HomePage     */

/*-----------------------------------------------------------------/


/*  Changing the background colour of navbar when you rollover them and also the active menu(menu clicked)*/
.BigLogo{
width:60px;
height:60px;
}



/*My own style sheet */
/*Navbar for top of the website*/
.navbar
{
	border: none;
	background-color:#7838cd;
	font:white;
	margin-bottom:0px;
	padding-bottom: 0px;
}

ul.nav a
{ 
	color: white !important;
	font-weight: bold;
}

ul.nav a:hover,
ul.nav a:focus,
ul.nav a:active
{ 
	color: white !important; 
	background: #5d17ba !important;
	font-weight: bold;
}



/* getting the navbar to go across*/
.navbar-inverse .navbar-nav > li 
{
display:inline; 

}


.navbar-inverse .navbar-nav > li > a {
  color : white;
  
}

/*Navbar wen u scale it down*/
.navbar-inverse .navbar-toggle 
{
color:#ffffff;
font-weight: bold;
border-color:white;
}

/* to change the color wen u hover on the home button*/
.navbar-inverse .navbar-toggle:hover {
background-color:#9932CC;
color:white;
}


.btn-primary{

	color: white;
	
	background-color:rgba(0,0,0,0);
	border: 3px solid white;
	font-weight: bold;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  /*background-color: ;*/
  color: white;
  background-color: #6e28c9;
  border : 3px solid white;
  font-weight: bold;
}

.jumbotron
{
	background-image: url(../img/hipsterofficeBig.jpg);
	background-repeat: no-repeat;
	
	min-height:1100px;
	
	
	
	/*margin-top: 50px;*/
	/* background: #99CDC9; */
}

.jumbotron h1
{
	color: white;
	margin-top: 350px;
	margin-bottom: 30px;
	
}

.btn-info{
color:white;
}

.Topbody{
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 21px;
margin-bottom:100px;
}
.Topbody h1{
margin-bottom:30px;
}

/* this if for the big text inside Quotes*/
blockquote {
  background: #ffffff;

  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #E0E0E0;
  content: open-quote;
  font-size: 13em;
  line-height: 0.1em;
  margin-right: 0.0em;
  vertical-align: -0.4em;

  }

  blockquote:after {
  color: #E0E0E0;
  content: close-quote;
  font-size: 12em;
  line-height: 0.1em;
  margin-left: 0.15em;
  vertical-align: -0.6em;
 

  }
  

  
  blockquote p {
  display: inline;
}

/*Text for intership*/
.greytxt{
color:#000000;
}


/* button for the image with lappy and text in intership section*/
.btn-contact
{
	color: #f5f5f5;
	background-color: #BA68C8;
	border: none;
    font-weight: bold;
	margin-top:30px;
}
.btn-contact:hover,
.btn-contact:focus,
.btn-contact:active,
.btn-contact.active,
.open .dropdown-toggle.btn-contact {
  color: white;
  background-color:#16a085;
  border: none;
  font-weight: bold;
}





.shares{
color:#7838cd;
}

/*Share button and paragraph */
.btn-Share{
color: #ffffff;
	margin-top:10px;
	background-color:#7838cd;
	border: 1px solid #000000;
	font-weight: bold;
	
}


.btn-Share:hover,
.btn-Share:focus,
.btn-Share:active,
.btn-Share.active,
.open .dropdown-toggle.btn-contact {
  color: white;
  background-color:#16a085;
  border: 1px solid #000000;
  font-weight: bold;
}


















/*About service Section*/


.AboutServices{
margin-top:20px;
margin-bottom:90px;

}

/*Icons for the shares,stock and properties*/


.servicesiconsize
{
height : 70px;
width : 70px;
}

.AboutOurTeam h1{
text-align: center;
margin-top:65px;
margin-bottom:60px;


}

.AboutOurTeam h2{
color: #616161;
}
 
 .Teams{
 /*background-color:#7838cd;*/
 }

 .p{
 padding:10px;
 }
 
 h1{
 font-size: 50px;
 text-transform: uppercase;
font-family:  'Lato', sans-serif;
letter-spacing: 2px;
 }




.icon-larger:before 
{
  font-size: 90px;
}


.center{
text-align:center;
}



.TopIcons{
border:none;
}


/*setttings for the thumbnails used*/



.thumbnail {
margin-top:40px;
padding:10px;
}

.thumbnail a{
color: #616161;
}

.imageMargTextMargin-top{
margin-top:35px;
margin-bottom:10px;
}

 .JobSpecs{
color: #ba68c8;
font-weight: bold;

}
.Asset a{
text-decoration:none;
border-bottom:2px solid #E0E0E0;
margin-top:25px;
font-weight:bold;
}

.Asset h2
{
	color: #616161;
}

.Asset p
{
	color: #616161;
}




.Topbody p{
font-size:25px;
 color:rgb(119, 119, 119);
letter-spacing:-1.0px;
}
.QuoteAboutUs{
font-size:30px;
}




.moveleft{
margin-left:-50px;
}

.IntershipText{
 letter-spacing: -2px;
}


.AboutOurTeam{
margin-bottom:50px;
}

.InternshipSec{
margin-top:50px;
margin-bottom:40px;

}

.thumbnail
{
	border: none;
	background-color: transparent;
}

/*workers with us */
.teamcontainer
{
	background-color:#f5f5f5;
}

.transparent
{
	background-color: transparent;
}

/*level2 CSS*/ /*sidebar*/ /*level   2   Styling  */


/* BUTTON USED FOR most part of the level 2 pages*/
.btn-submit{
background-color:#ba68c8;
color:white;
}

.nav-sidebar{
    margin-top:15px;
} 

.sidebar hr{
 margin-top:2px;  
}


.sidebar{
background:#616161;
padding-bottom:2%;
margin-top:-1px;


}



.nav-sidebar  .glyphicon{
color:white;
}

.nav-sidebar > li > a:hover{
    background-color: #6e28c9 !important;
}

.nav-sidebar h3{
    color:white;
}

.CRUID{
margin-top:40px;


}
.CRUID li{
display:inline;

}



.TableTxt{
color:#fffff;

}


.adminoptionicons{
max-height:200x;
max-width:200px;
}


.placeholders {
margin-bottom: 30px;
text-align: center;
}
.row {
margin-right: -15px;
margin-left: -15px;
}

/*Clients  Part of Home Page*/
.Clients{
    margin-bottom:80px;
}



.Clients p{
    color:grey
}




.text-algin-right{
    margin-left:140px;
    color:grey;
   
}


.btn-ClientSpeech :hover,
.btn-ClientSpeech :focus,
.btn-ClientSpeech :active,
.btn-ClientSpeech .active,
.open .dropdown-toggle.btn-ClientsSpeech {
  background-color:#e4a5c8;
  color:white;
}













.placeholders .glyphicon-user{
    color:grey;
}





.adminoptionicons{
Max-width:80px;
Min-height:80px;
}




.bigImage2{
width:100%;
background-repeat:no-repeat;
}





/*level   2   Styling  */

/*Sidebar for the level two Page*/


.table-striped th{
    color:white;
}


.adminoptions{
background-color:white;
}

.adminoptions h2{
color:black;
}



.placeholders,h1{
color:grey;
background-color:e0e0e0;
}




/*chat background set to pink*/
.chat.badge{
background-color:#ff6c60;
}

.mmm.badge{
background-color:#6ccac9;
}

th{
background-color:#7f5ab0;
}

 .customers{
font-size:80px;
}

.buttonsforTables{
    color:grey
}



.buttonsforTables div:hover
{
    color: #F49594;
    background-color: pink;
}

.glyphicon-signal{
font-size:80px;
}



.SalesBG{
/*background-color:#f8d347;*/
}

/*Login Page style*/

/*Register Page*/


/*Background Image*/

.BackgroundImage{
    background-image: url(../img/backGround2.jpg);
}

.form-control .email{
    padding-right:-16px;
}
div.well{
  height: 250px;
} 

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.btn-login
{
   background-color:rgba(0,0,0,0);
	border: 1px solid white;
}

.btn-login:hover,
.btn-login:focus,
.btn-login:active
{
    background-color: #eb98fb;;
    color: white;
}


.GOBACK{
    margin-top:20px;
    
}

.GOBACK a{
   TEXT-DECORATION:NONE; 
}

.checkbox
{
    color: white;
    font-weight: bold;
}

.form-group{
    color:white;
}

.form-group a
{
    color:white;
    font-weight: normal;
    text-decoration: none;
}


.form-group a:hover
{
    color:#eb98fb;
}

.SignIN{

    margin-bottom:30px;
}

.Register{
     margin-left:38px;
    margin-bottom:30px;
}

.placeholders .thumbnail{
   
    border:1px solid #7838cd;
    
}

.graph{
    background:#eaeaea;
}

/*Badges and table of Members*/

.usericon{
    width:200px;
    height:200px;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:30px;
}
.green{
    background-color:#9cc96b;
}


td{
    color:#7f5ab0;
}

.Member a{
    color:#689cc9;
}

.Member{
    margin-top:30px;
}

.blue{
    background-color:#4ebcda;
}

.light-purple{
    background-color:#986291;
}





/*buttons for the view Customer Page*/
.btn-search{
    font-size:20px;
    color:white;
    background-color:#7838cd;
}


/*Buttons for the level two options view delete and edit*/
.btn-search:hover,
.btn-search:focus,
.btn-search:active,
.btn-search.active,
.open .dropdown-toggle.btn-search {
  /*background-color: ;*/
  color: #7838cd;
  background-color: white;
  font-weight: normal;
}



.btn-edit{
    font-size:20px;
    color:white;
    background-color:#6ccac9;
    
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active,
.btn-edit.active,
.open .dropdown-toggle.btn-edit {
  /*background-color: ;*/
  color: #6ccac9;
  background-color: white;
  font-weight: normal;
}







.btn-delete{
    font-size:20px;
    color:white;
    background-color:#d21405;
}


.btn-delete:hover,
.btn-delete:focus,
.btn-delete:active,
.btn-delete.active,
.open .dropdown-toggle.btn-delete {
  /*background-color: ;*/
  color: #d21405;
  background-color: white;
  font-weight: normal;
}

/*END OF THE BUTTONS*/




.Member{
    margin-bottom:150px;
}

.circleImages{
  
    width:80px;
    height:80px;
}

/*Create Customer part*/

.createCus th{
   color:white;
}
.createCus{
    margin-bottom:220px;
}

.ViewCus th{
    color:white;
}

.Details{
margin-bottom:80px;
}

.thumbnail .glyphicon-signal{
    color:grey;
}

